.dialog-text {
    max-width: 400px;
}

.dialog-text span {
    color: #FFFFFF;
}

.dialog-header {
    padding: 30px 5px 5px 5px;
    button {
        margin: 5px 0 5px 0;
    }
}

.login-form {
    margin-bottom: 20px;
    label {
        color: #828282
    }
    input {
        color: #FFF;
    }
}
